html,body{overflow-x:hidden;height:100%;width:100%;margin:0;padding:0;}
body{font:14px "helvetica neue",arial,helvetica,freesans,"libaration sans","numbus sans l",sans-serif !important;color:#fff;}
#locateDiv{position:absolute;top:95px;left:22px;z-index:50;}
#geocoderDiv{display:block;position:absolute;z-index:2;top:10px;right:10px;}
.as-button{cursor:pointer;}
.gradient{background-image:-webkit-gradient(linear, left 0, left 100%, from(#3c3c3c), to(#222222)) !important;background-image:-webkit-linear-gradient(top, #3c3c3c, 0%, #222222, 100%) !important;background-image:-moz-linear-gradient(top, #3c3c3c 0, #222222 100%) !important;background-image:linear-gradient(to bottom, #3c3c3c 0, #222222 100%) !important;background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF3C3C3C', endColorstr='#FF222222', GradientType=0) !important;}
.dijitDialogTitle{color:#999999 !important;}
.dijitDialogTitleBar{background-image:-webkit-gradient(linear, left 0, left 100%, from(#3c3c3c), to(#222222)) !important;background-image:-webkit-linear-gradient(top, #3c3c3c, 0%, #222222, 100%) !important;background-image:-moz-linear-gradient(top, #3c3c3c 0, #222222 100%) !important;background-image:linear-gradient(to bottom, #3c3c3c 0, #222222 100%) !important;background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF3C3C3C', endColorstr='#FF222222', GradientType=0) !important;}
.dijitDialogPaneContent{background:#3c3c3c !important;color:#000000;}
.dijitMenuItemLabel.dijitMenuItemHover{color:#fff !important;background-color:none !important;background-image:-webkit-gradient(linear, left 0, left 100%, from(#3c3c3c), to(#222222)) !important;background-image:-webkit-linear-gradient(top, #3c3c3c, 0%, #222222, 100%) !important;background-image:-moz-linear-gradient(top, #3c3c3c 0, #222222 100%) !important;background-image:linear-gradient(to bottom, #3c3c3c 0, #222222 100%) !important;background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF3C3C3C', endColorstr='#FF222222', GradientType=0) !important;}
.dijitMenuBar{padding:0 !important;border:0 none lightGrey !important;background-color:#222222 !important;}
.dijitMenuBar .dijitMenuItemLabel{color:#999999 !important;}

#app-name{margin-left:10px;}
#container-header{margin-left:-2px;margin-right:2px;}
.header-container{z-index:1;}

.description{margin:1em auto;padding:1em;color:#7a99a5;}
.dijitComboBoxMenuPopup{font-size:0.8em !important;}
.dijitMenuPopup{min-width:150px;}
.dijitMenuPopup .dijitMenuItemLabel{width:150px !important;}
.dijitMenuItemSelected{background-color:none !important;}
td{line-height:10px !important;}
.lgnd-icon{margin-top:-5px;}

#map-div{position:absolute;padding:0;top:50px;left:0;right:0;bottom:0;}#map-div .container{max-width:100% !important;}
.esriSimpleSlider{border:1px solid #cccccc;top:15px;left:15px;}
.esriSimpleSliderVertical .esriSimpleSliderIncrementButton,.esriSimpleSliderVertical .esriSimpleSliderDecrementButton{font-weight:500;font-size:20px;line-height:27px;}
.esriSimpleSliderVertical .esriSimpleSliderIncrementButton{border-bottom:1px solid #cccccc;}

.progress-spin{margin-left:3px;font-size:0.8em;color:#fff !important;}
